name: build——lkx_ErfanGSIs

on:
  watch:
    types: [started]
    
env:
  ROM_URL: https://cloud189-xizang-person.oos-xzls.ctyunapi.cn/PERSONCLOUD/f738ec5b-abbd-4c67-b4e2-6fab24214301.zip?x-amz-CLIENTTYPEIN=UNKNOWN&AWSAccessKeyId=532482dfdc85e5d60592&x-amz-limitrate=10240&x-amz-UID=783827947&x-amz-APPID=828221&response-content-disposition=attachment%3Bfilename%3D%22Sky_N7P_21.1.6Dev_10%28B88FDDA4B7%29.zip%22&x-amz-CLIENTNETWORK=UNKNOWN&x-amz-CLOUDTYPEIN=PERSON&Signature=Y6JiVYsxgTtxUr5Bwow3xL20wEY%3D&x-amz-SHID=170971753&Expires=1616167769&x-amz-FSIZE=2215045387&x-amz-UFID=31514112362089123
  ROM_NAME: MIUI
  BUILD_AB: true
  BUILD_AONLY: false
  ROM_AB: MIUI_AB.7z

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clean Up
         run: |
           docker rmi `docker images -q`
           sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
           sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
           sudo -E apt-get update
           sudo -E apt-get -y autoremove --purge
           sudo -E apt-get clean 
           
       - name: Initialization environment
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install git openjdk-8-jdk p7zip gzip
       
       - name: Clone ErfanGSI Source Code
         run: git clone --recurse-submodules https://github.com/lkx-0686/ErfanGSIs.git
       
       - name: Setting up ErfanGSI requirements
         run: |
              sudo chmod -R 777 ErfanGSIs
              cd ErfanGSIs
              sudo bash setup.sh
       
       - name: Download Stock Rom & Generate Aonly GSI
         if: env.BUILD_AONLY == 'true'
         run: sudo ./ErfanGSIs/url2GSI.sh -a $ROM_URL $ROM_NAME
       
       - name: 7z Aonly GSI
         if: env.BUILD_AONLY == 'true'
         run: 7za a -t7z -r $ROM_AONLY ErfanGSIs/output/*
       
       - name: Upload Aonly GSI to WeTransfer
         if: env.BUILD_AONLY == 'true'
         run: |
              curl -sL https://git.io/file-transfer | sh
              ./transfer wet $ROM_AONLY
           
       - name: Clear output
         if: env.BUILD_AB == 'true'
         run: sudo rm -rf ErfanGSIs/output/*
         
       - name: Download Stock Rom & Generate AB GSI
         if: env.BUILD_AB == 'true'
         run: sudo ./ErfanGSIs/url2GSI.sh -b $ROM_URL $ROM_NAME

       - name: 7z AB GSI
         if: env.BUILD_AB == 'true'
         run: 7za a -t7z -r $ROM_AB ErfanGSIs/output/*

       - name: Upload AB GSI to WeTransfer
         if: env.BUILD_AB == 'true'
         run: |
              curl -sL https://git.io/file-transfer | sh
              ./transfer wet $ROM_AB
         
            
